# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# Streamlit
.streamlit/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Model Files
models/*.pkl

# Reports
reports/*.pdf

# Uploaded Files
data/uploads/*

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log